<div>
  <div class="row mt-2 w-25">
    <a routerLink="/" class="col text-sm justify-center" id="list-doctors" mat-button><mat-icon>keyboard_arrow_left</mat-icon>{{"Revenir à la liste des Patients"}}</a>
  </div>
  <div class="container-list transparent w-full text-center px-8 py-12">
    <legend class="mb-12">Creation Fiche Patient</legend>
    <form class="col col-md-3 m-auto" (ngSubmit)="create()">
      <mat-form-field appearance="fill">
        <mat-label>Prénom</mat-label>
        <input required name="firstName" [(ngModel)]="patient.firstName" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input required name="lastName" [(ngModel)]="patient.lastName" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input required type="number" name="age" [(ngModel)]="patient.age" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Genre</mat-label>
        <mat-select required name="genre" [(ngModel)]="patient.gender">
          <mat-option *ngFor="let gender of genders" [value]="gender">
            {{gender}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button type="submit" class="btn btn-primary mt-6">
        Créer
      </button>
    </form>
  </div>
</div>
